<template>
    <div class="w-16 h-16 fixed bottom-8 right-8 bg-indigo-600 cursor-pointer text-white rounded-full p-4 hover:bg-indigo-600 ease-in-out duration-200"
        @click="emit('onAction')">
        <PencilSquareIcon class="w-8 h-8" />
    </div>
</template>

<script setup>
import { PencilSquareIcon } from '@heroicons/vue/20/solid';

const emit = defineEmits(['onAction'])
</script> 
