<template>
    <div class="font-medium flex flex-row items-center bg-gray-100">
        <ArrowLeftIcon class="w-6 h-6 mr-2 cursor-pointer" @click="router.back()" /> Back to Clients
    </div>
</template>

<script setup>
import { ArrowLeftIcon } from '@heroicons/vue/20/solid';
import { useRouter } from 'vue-router';
const router = useRouter()

</script>

