<template>
    <div class="flex-center-absolute flex-grow" id="spinner">
        <div class="spinner" role="status">
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
        </div>
    </div>
</template>