<template>
    <div class="opacity-100 fixed w-full h-full top-0 left-0 flex-center-absolute">
        <div class="absolute w-full h-full bg-black opacity-70" @click="emit('onClose')"></div>
        <div class="flex-center-absolute z-50 overflow-y-auto">
            <Card
                class="relative p-4 w-[90vw] max-h-[90vh] md:w-auto md:h-auto md:max-w-[70vw] overflow-y-auto">
                <div v-if="loading" class="flex-center-absolute">
                    <LoadingSpinner />
                </div>
                <div v-else class="overflow-y-auto">
                    <div class="absolute right-4 top-4">
                        <XMarkIcon class="w-6 h-6 cursor-pointer" @click="emit('onClose')" />
                    </div>
                    <slot></slot>
                </div>
            </Card>
        </div>
    </div>
</template>

<script setup>
import { XMarkIcon } from '@heroicons/vue/20/solid';
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'
import Card from '@/components/defaults/Card.vue';
import LoadingSpinner from '@/components/defaults/LoadingSpinner.vue';

const store = useClientStore()
const { loading } = storeToRefs(store)

const emit = defineEmits(['onClose'])
</script> 

