<template>
    <NotificationGroup group="error">
        <div class="fixed inset-x-0 bottom-0 flex items-start justify-end p-6 px-4 py-6 pointer-events-none z-50">
            <div class="w-full max-w-sm">
                <Notification v-slot="{ notifications }" enter="transform ease-out duration-300 transition"
                    enter-from="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-4"
                    enter-to="translate-y-0 opacity-100 sm:translate-x-0" leave="transition ease-in duration-500"
                    leave-from="opacity-100" leave-to="opacity-0" move="transition duration-500" move-delay="delay-300">
                    <div class="flex w-full max-w-sm mx-auto mt-4 overflow-hidden bg-red-500 rounded-lg shadow-md"
                        v-for="notification in notifications" :key="notification.id">
                        <div class="px-4 py-2 -mx-3">
                            <div class="mx-3">
                                <span class="font-semibold text-white">{{ notification.title }}</span>
                                <p class="text-sm text-gray-100">{{ notification.text }}</p>
                            </div>
                        </div>
                    </div>
                </Notification>
            </div>
        </div>
    </NotificationGroup>

    <NotificationGroup group="generic">
        <div class="fixed inset-x-0 bottom-0 flex items-start justify-end p-6 px-4 py-6 pointer-events-none z-50">
            <div class="w-full max-w-sm">
                <Notification v-slot="{ notifications }" enter="ease-out duration-300 transition"
                    enter-from="translate-y-2 opacity-0 sm:translate-y-4 sm:translate-x-0"
                    enter-to="translate-y-0 opacity-100 sm:translate-x-0" leave="transition ease-in duration-500"
                    leave-from="opacity-100" leave-to="opacity-0" move="transition duration-500" move-delay="delay-300">
                    <div class="flex w-full max-w-sm mx-auto mt-4 overflow-hidden bg-indigo-500 rounded-lg shadow-md"
                        v-for="notification in notifications" :key="notification.id">
                        <div class="px-4 py-2 -mx-3">
                            <div class="mx-3">
                                <span class="font-semibold text-white">{{ notification.title }}</span>
                                <p class="text-sm text-gray-100">{{ notification.text }}</p>
                            </div>
                        </div>
                    </div>
                </Notification>
            </div>
        </div>
    </NotificationGroup>
</template>

<script setup>
import { Notification, NotificationGroup } from "notiwind"

</script>

<style scoped></style>
