<template>
    <div class="flex-center-vertical">
        <a v-for="(avatar, index) in avatarList.slice(0, 6)" :key="index" href="#" class="w-6 h-6 -mx-1"
            data-te-toggle="tooltip" :title="`${avatar.firstname} ${avatar.lastname}`">
            <img class="object-cover border-2 border-white rounded-full dark:border-gray-700 shrink-0" :src="avatar.photo">
        </a>
        <p v-if="avatarList.length > 6"
            class="flex-center-absolute w-6 h-6 -mx-1 text-xs text-indigo-600 bg-indigo-100 border-2 border-white rounded-full">
            +{{ avatarList.slice(6).length }}
        </p>
    </div>
</template>

<script setup>
const props = defineProps({
    avatarList: Array
})

</script>

<style scoped></style>
