<template>
    <aside id="default-sidebar"
        class="fixed top-0 left-0 w-64 h-screen transition-transform -translate-x-full md:translate-x-0">
        <div class="h-full px-3 py-4 overflow-y-auto bg-indigo-600 dark:bg-indigo-800">
            <ul class="space-y-2">
                <li>
                    <RouterLink :to="'/...'" :active-class="'active-link'"
                        class="flex-center-vertical p-2 text-sm font-normal text-white rounded-lg dark:text-white hover:bg-indigo-700">
                        <HomeIcon
                            class="w-6 h-6 text-white transition duration-75 dark:text-gray-400 dark:group-hover:text-white" />
                        <span class="ml-3">...</span>
                    </RouterLink>
                </li>
                <li>
                    <RouterLink :to="'/clients'" :active-class="'active-link'"
                        class="flex-center-vertical p-2 text-sm font-normal text-white rounded-lg dark:text-white hover:bg-indigo-700">
                        <UserGroupIcon
                            class="w-6 h-6 text-white transition duration-75 dark:text-gray-400 dark:group-hover:text-white" />
                        <span class="ml-3">Clients</span>
                    </RouterLink>
                </li>
            </ul>
        </div>
    </aside>
</template>

<script setup>
import { HomeIcon, UserGroupIcon } from '@heroicons/vue/20/solid'
</script>

<style scoped></style>
