<template>
    <div class="inline px-3 py-1 text-sm font-medium rounded-full gap-x-2 dark:bg-gray-800" :class="defineStatus()">
        {{ status.charAt(0).toUpperCase() + status.slice(1) }}
    </div>
</template>

<script setup>
const props = defineProps({
    status: String
})

const defineStatus = () => {
    switch (props.status) {
        case "active":
            return 'bg-emerald-100/60 text-emerald-500'
        case "inactive":
            return 'bg-yellow-100/60 text-yellow-500'
        case "blocked":
            return 'bg-red-100/60 text-red-500'
        default:
            break;
    }
}
</script>

<style scoped></style>
