<template>
    <div class="flex-col flex-center-vertical lg:justify-between lg:flex-row mt-2 h-12">
        <div class="text-sm text-gray-500 dark:text-gray-400">
            Showing <span class="font-medium text-gray-700 dark:text-gray-100">{{from}} to {{ to }}</span> of {{ total }}
        </div>
        <div class="flex-center-horizontal md:flex-center-vertical mt-2 gap-x-2 sm:mt-0 w-fit">
            <button v-for="(link, index) in links" :key="index" @click="fetchPage(link.url)"  :disabled="!link.url"
                class="button-light button-disabled text-xs p-2"
                :class="link.active && 'button-primary'">
                <span v-html="link.label">
                </span>
            </button>
        </div>
    </div>
</template>

<script setup>
import { useClientStore } from '@/store/client';
import { onMounted } from 'vue';
import { storeToRefs } from 'pinia'

const store = useClientStore()
const { links, currentPage, from, to, total } = storeToRefs(store)
const { fetchPage } = store

onMounted(() => {
    fetchPage(`customers?page=${currentPage.value}`)
})
</script>

<style scoped></style>
