<template>
    <div class="relative flex-center-vertical mt-4 md:mt-0">
        <span class="absolute">
            <MagnifyingGlassIcon class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600" />
        </span>
        <input :value="search" @input="event => search = event.target.value" type="text" placeholder="Search by name"
            class="search-bar">
    </div>
</template>

<script setup>
import { MagnifyingGlassIcon } from '@heroicons/vue/20/solid';
import { ref, watch } from 'vue';
import { useClientStore } from '@/store/client';
import debounce from 'lodash.debounce'

const store = useClientStore()
const { searchByName } = store

const search = ref("");

watch(search, debounce(() => {
    searchByName(search.value)
}, 500))

</script>

<style scoped></style>
