<template>
    <Card class="h-full">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 md:rounded-lg">
            <thead class="bg-gray-50 dark:bg-gray-800 sticky top-0">
                <tr>
                    <th scope="col" class="table-head">Client</th>
                    <th scope="col" class="table-head">About</th>
                    <th scope="col" class="table-head">Status</th>
                    <th scope="col" class="table-head">People known</th>
                    <th scope="col" class="table-head">People you may known</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                <tr v-if="loading">
                    <td colspan="5">
                        <div class="flex-center-absolute flex-col p-64">
                            <LoadingSpinner />
                        </div>
                    </td>
                </tr>
                <tr v-else-if="rows.length > 0" v-for="row in rows" :key="row.id" @click="router.push(`/clients/${row.id}`)"
                    class="cursor-pointer hover:bg-indigo-100 ease-in duration-100 items-start">
                    <td class="table-row-col">
                        <div class="flex gap-x-2">
                            <img class="object-cover w-8 h-8 rounded-full" :src="row.photo" alt="">
                            <div>
                                <h2 class="text-sm font-medium text-gray-800">
                                    {{ row.firstname }} {{ row.lastname }}
                                </h2>
                                <p class="text-xs font-normal text-gray-600">{{ row.email }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="table-row-col">
                        <div>
                            <p class="text-xs font-normal text-gray-600 flex-center-vertical">
                                <CalendarIcon class="w-4 h-4 mr-2 text-gray-400" /> {{ row.birthdate }}
                            </p>
                            <p class="text-xs font-normal text-gray-600 dark:text-gray-400 flex-center-vertical">
                                <PhoneIcon class="w-4 h-4 mr-2 text-gray-400" /> {{ row.cellphone }}
                            </p>
                        </div>
                    </td>
                    <td class="table-row-col">
                        <StatusChip v-bind:status="row.status" />
                    </td>
                    <td class="table-row-col">
                        <AvatarGroup v-bind:avatar-list="row.people_known" />
                    </td>
                    <td class="table-row-col">
                        <AvatarGroup v-bind:avatar-list="row.people_you_may_unknown" />
                    </td>
                </tr>
                <tr v-else>
                    <td colspan="5">
                        <div class="flex flex-col items-center justify-center w-full mt-4">
                            <img src="@/assets/img/No-data-amico.svg" class="w-64 h-64" />
                            <div class="text-xl font-medium">Whoops! Something just happened</div>
                            <div class="text-base">Try reloading the page</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </Card>
</template>

<script setup>
import { CalendarIcon, PhoneIcon } from '@heroicons/vue/20/solid'
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router';
import AvatarGroup from '@/components/app/AvatarGroup.vue';
import StatusChip from '@/components/app/StatusChip.vue';
import LoadingSpinner from '@/components/defaults/LoadingSpinner.vue';
import Card from '@/components/defaults/Card.vue';

const store = useClientStore()
const router = useRouter()
const { loading } = storeToRefs(store)

const props = defineProps({
    columns: Array,
    rows: Array,
})


</script>

<style scoped></style>
