<template>
    <div class="flex flex-col md:justify-between md:flex-row">
        <div>
            <div class="flex-center-vertical gap-x-3">
                <h2 class="title-lg-medium text-gray-800 dark:text-white">Clients</h2>
                <span v-if="total"
                    class="px-3 py-1 text-xs text-indigo-600 bg-indigo-100 rounded-full dark:bg-gray-800 dark:text-indigo-600">
                    {{ total }} Total
                </span>
            </div>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">Manage your clients</p>
        </div>
        <div class="flex-center-vertical mt-4 gap-x-3 ">
            <button class="button-light">
                <ArrowDownTrayIcon class="w-4 h-4" /> Import
            </button>
            <button @click="router.push('clients/new')" class="button-primary">
                <PlusIcon class="w-4 h-4" /> Add Client
            </button>
        </div>
    </div>
    <div class="mt-6 mb-2">
        <SearchBar />
    </div>
    <div class="overflow-y-scroll rounded-xl h-full">
        <Table v-bind:rows="clients" />
    </div>
    <Pagination />
</template>

<script setup>
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { useClientStore } from '@/store/client';
import Table from '@/components/app/clientTable/Table.vue';
import SearchBar from '@/components/app/clientTable/SearchBar.vue';
import Pagination from '@/components/app/clientTable/Pagination.vue';
import { PlusIcon, ArrowDownTrayIcon } from '@heroicons/vue/20/solid';

const router = useRouter()
const store = useClientStore()
const { clients, total } = storeToRefs(store)

</script>
