<template>
    <GoBack />
    <div class="flex flex-col my-8 xl:pb-8 xl:mx-48">
        <Card>
            <ClientForm />
        </Card>
    </div>
</template>
    
<script setup>
import ClientForm from "@/components/app/client/ClientForm.vue";
import Card from '@/components/defaults/Card.vue';
import GoBack from "../components/defaults/GoBack.vue";
</script>
    