<template>
    <div v-if="client && !loading" class="flex flex-col pb-8">
        <GoBack />
        <div class="grid grid-cols-10 gap-4 mt-4">
            <div class="col-span-10 lg:col-span-7">
                <Card>
                    <ClientHeader />
                </Card>
                <Card class="mt-4">
                    <ClientPersonalInformation />
                </Card>
                <Card class="mt-4">
                    <ClientPeopleKnown />
                </Card>
                <Card class="mt-4">
                    <ClientDownloads />
                </Card>
            </div>
            <div class="col-span-10 lg:col-span-3">
                <Card>
                    <ClientPeopleMayKnow />
                </Card>
            </div>
            <div class="col-span-10 lg:col-span-3">
                <button @click="del = true" class="w-full button-danger lg:w-auto">Delete</button>
            </div>
        </div>
    </div>
    <LoadingSpinner v-else-if="!editing && !del" />
    <ClientDelete v-if="del" v-bind:document="client.document" @onClose="del = false" />
    <Modal v-if="editing" @onClose="editing = false">
        <ClientForm v-bind:client="client" />
    </Modal>
    <FabButton v-if="!editing && !del" @onAction="editing = true" />
</template>
    
<script setup>
import { onMounted, ref, watch } from 'vue';
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'
import Card from '@/components/defaults/Card.vue';
import LoadingSpinner from '@/components/defaults/LoadingSpinner.vue';
import Modal from '@/components/defaults/Modal.vue';
import ClientDelete from '@/components/app/client/ClientDelete.vue';
import ClientHeader from '@/components/app/client/ClientHeader.vue';
import ClientPeopleKnown from '@/components/app/client/ClientPeopleKnown.vue';
import ClientDownloads from '@/components/app/client/ClientDownloads.vue';
import ClientPeopleMayKnow from '@/components/app/client/ClientPeopleMayKnow.vue';
import ClientPersonalInformation from '@/components/app/client/ClientPersonalInformation.vue';
import GoBack from '@/components/defaults/GoBack.vue';
import FabButton from '@/components/defaults/FabButton.vue';
import ClientForm from '@/components/app/client/ClientForm.vue';

const store = useClientStore()
const { client, loading } = storeToRefs(store)
const { getClient } = store

const editing = ref(false)
const del = ref(false);

onMounted(() => {
    getClient()
})

watch(client, (count, prevCount) => {
    editing.value = false
})
</script>
    
    