<template>
    <div class="flex flex-col justify-between gap-y-4 p-4">
        <div class="title-lg-medium">People known</div>
        <div v-for="(person, index) in client.people_known" :key="index" class="flex-center-vertical">
            <img class="object-cover w-8 h-8 mr-3 rounded-full" :src="person.photo" alt="">
            <div>
                <h2 class="text-sm font-medium text-gray-800 dark:text-white">
                    {{ person.firstname }} {{ person.lastname }}
                </h2>
            </div>
        </div>
    </div>
</template>

<script setup>
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'

const store = useClientStore()
const { client } = storeToRefs(store)

</script>

<style scoped></style>
