<template>
    <div class="flex justify-between gap-x-2 p-4">
        <div class="title-lg-medium">Personal Information</div>
    </div>
    <div class="grid md:grid-cols-2 gap-y-8 gap-x-4 p-4">
        <div class="flex-center-vertical">
            <div class="w-10 h-10 rounded-full bg-gray-100 flex-center-absolute">
                <EnvelopeIcon class="w-6 h-6 text-gray-400" />
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium">{{ client.email }}</div>
                <div class="text-sm text-gray-400">Mail Adress</div>
            </div>
        </div>
        <div class="flex-center-vertical">
            <div class="w-10 h-10 rounded-full bg-gray-100 flex-center-absolute">
                <PhoneIcon class="w-6 h-6 text-gray-400" />
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium">{{ client.cellphone }}</div>
                <div class="text-sm text-gray-400">Phone Number</div>
            </div>
        </div>
        <div class="flex-center-vertical">
            <div class="w-10 h-10 rounded-full bg-gray-100 flex-center-absolute">
                <CalendarIcon class="w-6 h-6 text-gray-400" />
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium">{{ client.birthdate }}</div>
                <div class="text-sm text-gray-400">Birthdate</div>
            </div>
        </div>
        <div class="flex-center-vertical">
            <div class="w-10 h-10 rounded-full bg-gray-100 flex-center-absolute">
                <IdentificationIcon class="w-6 h-6 text-gray-400" />
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium">{{ client.document }}</div>
                <div class="text-sm text-gray-400 flex-center-vertical">
                    Type: <div>{{ client.document_type }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 py-4">
        <hr />
    </div>
    <div class="flex-center-vertical p-4">
        <div class="w-10 h-10 rounded-full bg-gray-100 flex-center-absolute">
            <MapPinIcon class="w-6 h-6 text-gray-400" />
        </div>
        <div class="ml-4">
            <div class="text-sm font-medium">{{ client.address }}</div>
            <div class="text-sm text-gray-400">Location</div>
        </div>
    </div>
</template>

<script setup>
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'
import { CalendarIcon, EnvelopeIcon, IdentificationIcon, MapPinIcon, PhoneIcon } from '@heroicons/vue/20/solid';

const store = useClientStore()
const { client } = storeToRefs(store)

</script> 

<style scoped></style>
