<template>
    <div class="flex-center-vertical justify-between p-4">
        <div class="title-lg-medium">Downloads</div>
        <button class="button-light">
            <span>Export to CSV </span>
        </button>
    </div>
</template>

<script setup></script>

<style scoped></style>
