<template>
    <div class="flex justify-between gap-x-2 p-4">
        <div class="flex-center-vertical">
            <img class="object-cover w-12 h-12 mr-3 rounded-full" :src="client.photo" alt="">
            <div>
                <h2 v-if="client.firstname && client.lastname" class="text-xl font-medium text-gray-800">
                    {{ client.firstname }} {{ client.lastname }}
                </h2>
                <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                    Source: {{ client.source }}
                </p>
            </div>
        </div>
        <div class="flex-center-vertical">
            <StatusChip :status="client.status" />
        </div>
    </div>
</template>

<script setup>
import { useClientStore } from '@/store/client';
import { storeToRefs } from 'pinia'
import StatusChip from '@/components/app/StatusChip.vue';

const store = useClientStore()
const { client } = storeToRefs(store)

</script>

<style scoped></style>
