<template>
    <Modal>
        <div class="flex flex-col">
            <div class="title-lg-medium">
                Delete Client
            </div>
            <div class="text-sm">
                This will <b>permanently delete</b> this client and all its data.
            </div>
            <div class="text-sm mt-4">
                Please type <b>{{ document }}</b> to confirm
            </div>
            <div class="mt-2">
                <input v-model="confirmText" type="text" id="input" :placeholder="'type ' + document"
                    class="p-2 border rounded-lg w-full" @paste="$event.preventDefault()" @drop="$event.preventDefault()" />
            </div>
            <div class="flex justify-end items-center mt-2">
                <button @click="checkInput()" class="button-danger button-disabled ml-2"
                    :disabled="confirmText != document">Delete</button>
            </div>
        </div>
    </Modal>
</template>

<script setup>
import { useClientStore } from '@/store/client';
import { ref } from 'vue';
import Modal from '@/components/defaults/Modal.vue';

const props = defineProps({
    document: String
})

const store = useClientStore()
const { deleteClient } = store

const confirmText = ref("")

const checkInput = () => {
    deleteClient()
}


</script>

<style scoped></style>
