<template>
    <form @submit="submit">
        <div class="grid grid-cols-2 gap-4 w-full p-4 overflow-y-auto">
            <div class="col-span-2">
                <div v-if="client" class="text-xl font-medium">Edit client</div>
                <div v-else class="text-xl font-medium">Add New Client</div>

                <div v-if="client" class="text-base text-gray-400">Modify client's personal information</div>
                <div v-else class="text-base text-gray-400">Fill out the details to add a new client</div>
            </div>
            <div class="col-span-2">
                <div
                    class="flex justify-between border-dashed border-2 w-full h-16 md:h-32 rounded-lg p-4 hover:bg-gray-100 ease-in duration-100">
                    <div class="flex-center-vertical">
                        <div class="bg-indigo-100 lg:w-24 md:h-24 rounded-lg flex-center-absolute">
                            <PhotoIcon class="text-indigo-600 hidden lg:block h-8 w-8" />
                        </div>
                        <div class="md:ml-4 text-sm lg:text-base font-medium">Upload a profile picture. <br/> Max size 2MB</div>
                    </div>
                    <div class="flex-center-vertical ml-4 hidden md:flex">
                        <button class="button-light">
                            <span>Browse</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-2">
                <div class="text-sm font-medium text-gray-400">Status</div>
                <select required v-model="data.status" class="input-md" name="status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="blocked">Blocked</option>
                </select>
            </div>
            <div class="md:col-span-1 col-span-2 col-span-2">
                <div class="text-sm font-medium text-gray-400">First Name</div>
                <input required type="text" v-model="data.firstname" class="input-md" name="firstname" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Last Name</div>
                <input required type="text" v-model="data.lastname" class="input-md" name="lastname" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Email</div>
                <input required type="email" v-model="data.email" class="input-md" name="email" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Cellphone</div>
                <input required type="text" v-model="data.cellphone" class="input-md" name="cellphone" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Document Type</div>
                <select required v-model="data.document_type" class="input-md" name="document_type">
                    <option value="DNI">DNI</option>
                    <option value="PASSPORT">PASSPORT</option>
                </select>
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Document</div>
                <input required type="text" v-model="data.document" class="input-md" name="document" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Birthdate</div>
                <input required type="date" v-model="data.birthdate" class="input-md" name="birthdate" />
            </div>
            <div class="md:col-span-1 col-span-2">
                <div class="text-sm font-medium text-gray-400">Address</div>
                <input required type="text" v-model="data.address" class="input-md" name="address" />
            </div>
            <div class="col-span-2 flex justify-end">
                <button type="submit" class="button-primary w-full md:w-auto">Add</button>
            </div>
        </div>
    </form>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useClientStore } from '@/store/client';
import { PhotoIcon } from '@heroicons/vue/20/solid';

const store = useClientStore()
const { newClient, updateClient } = store

const props = defineProps({
    client: {}
})

const data = ref({
    firstname: "",
    lastname: "",
    email: "",
    cellphone: "",
    status: "",
    document_type: "",
    document: "",
    birthdate: "",
    address: ""
})

onMounted(() => {
    if (props.client) {
        data.value = {
            firstname: props.client.firstname,
            lastname: props.client.lastname,
            email: props.client.email,
            cellphone: props.client.cellphone,
            status: props.client.status,
            document_type: props.client.document_type,
            document: props.client.document,
            birthdate: props.client.birthdate,
            address: props.client.address
        }
    }
})

const submit = (e) => {
    e.preventDefault();
    if (props.client) {
        updateClient(data.value)
    } else {
        newClient(data.value)
    }
}

</script>
    