<template>
   <Notifications />
   <Sidebar />
   <div id="main" class="md:ml-64 p-8 h-screen flex flex-col">
      <router-view />
   </div>
</template>

<script setup>
import Sidebar from '@/components/app/Sidebar.vue';
import Notifications from '@/components/defaults/Notifications.vue';

</script>