@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

@layer components {
    .active-link{
        @apply bg-indigo-500
    }

    .table-head {
        @apply px-4 py-3.5 text-xs font-medium text-left text-gray-500 dark:text-gray-400
    }

    .table-row-col {
        @apply px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap
    }

    /*FLEX*/
    .flex-center-vertical{
        @apply flex items-center
    }

    .flex-center-horizontal{
        @apply flex justify-center
    }

    .flex-center-absolute{
        @apply flex justify-center items-center
    }

    /*BUTTONS*/
    .button-danger{
        @apply flex items-center justify-center  p-2 text-sm tracking-wide border text-white transition-colors duration-200 bg-red-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-red-500 dark:hover:bg-red-500 dark:bg-red-500
    }

    .button-light{
        @apply flex items-center justify-center  p-2 text-sm tracking-wide border text-black transition-colors duration-200 bg-white rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-white dark:hover:bg-white dark:bg-white
    }

    .button-disabled {
        @apply disabled:bg-gray-100 disabled:text-gray-300
    }

    .button-primary{
        @apply flex items-center justify-center  p-2 text-sm tracking-wide border text-white transition-colors duration-200 bg-indigo-600 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-indigo-600 dark:hover:bg-indigo-600 dark:bg-indigo-600
    }

    /*TEXT*/
    .title-lg-medium{
        @apply text-lg font-medium
    }

    /*INPUT*/

    .search-bar{
        @apply block w-full py-1 pr-5 text-gray-700 bg-white border border-gray-200 rounded-xl md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-indigo-600 dark:focus:border-indigo-300 focus:ring-indigo-300 focus:outline-none focus:ring focus:ring-opacity-10
    }

    .input-md{
        @apply border border-gray-200 p-2 rounded-lg w-full
    }

    /*AVATAR*/
    .avatar-md{
        @apply rounded-full w-64 h-64 object-cover
    }

    /*CARD*/
    .card{
        @apply rounded-lg w-full bg-white
    }

    /*SPINNER*/
    .spinner{
        @apply inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]
    }
}